.features {
  display: flex;
  align-items: center;
  padding: rem 0;
  width: 100%;
}

.featureSvg {
  height: 140px;
  width: 140px;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}