/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ed6638;
  --ifm-color-primary-dark: #ec5a29;
  --ifm-color-primary-darker: #d24313;
  --ifm-color-primary-darkest: #d24313;
  --ifm-color-primary-light: #f39474;
  --ifm-color-primary-lighter: #f4a083;
  --ifm-color-primary-lightest: #f8c2b0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f07d56;
  --ifm-color-primary-dark: #ed6638;
  --ifm-color-primary-darker: #ec5a29;
  --ifm-color-primary-darkest: #d24313;
  --ifm-color-primary-light: #f39474;
  --ifm-color-primary-lighter: #f4a083;
  --ifm-color-primary-lightest: #f8c2b0;
}


.main
{	
	padding:6em;
}